<div>
  <h1 mat-dialog-title>Añadir empleado</h1>
  <div mat-dialog-content>
    <div class="contenedor">
      <mat-form-field>
        <input matInput [(ngModel)]="data.id" type="number" placeholder="Inserta ID">
        <p>{{data.id}}</p>
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.nombre" type="text" placeholder="Inserta Nombre">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.direccion" type="text" placeholder="Inserta Dirección">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.cargo" type="text" placeholder="Inserta Cargo"
          matTooltip="Para agregar una imagen, debe ser de formato .jpg o .png">
      </mat-form-field>
      <mat-form-field>
        <input matInput [(ngModel)]="data.edad" type="number" placeholder="Inserta Edad">
      </mat-form-field>


    </div>
  </div>

  <mat-dialog-actions>
    <button mat-button (click)="Cancelar()">Cancelar</button>
    <button mat-button [mat-dialog-close]="data" cdkFocusInitial>Confirmar</button>
  </mat-dialog-actions>

</div>