<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-auto">

      <div class="form-group">
        <label for="email">EMAIL</label>
        <input type="text" [(ngModel)]="usuario.email"
         name="email" id="email" class="form-control" placeholder="Teclea mail" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Falta email</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="usuario.pwd" name="password" id="password" class="form-control" placeholder="Teclea password" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Falta password</small>
        <section class="example-section">
          <mat-checkbox class="example-margin" [(ngModel)]="privado">Privado</mat-checkbox>
        </section>
      </div>
      <button class="btn btn-success" (click)="Login()">Registra</button>
    </div>
  </div>
</div>
