<div class="container">
   <div class="row d-flex justify-content-center">
    <div class="col-auto">
     <h3> {{title}}</h3>
       <input [(ngModel)]="dolares" type="number" (keyup)="actualizarDolares()"(change)="actualizarDolares()" ><br>
       <input [(ngModel)]="libras" type="number" (keyup)="actualizarLibras()" (change)="actualizarLibras()"><br>
       <input [(ngModel)]="yenes"  type="number" (keyup)="actualizarYenes()" (change)="actualizarYenes()"><br>
       <input [(ngModel)]="euros"  type="number" (keyup)="actualizarEuros()" (change)="actualizarEuros()"><br>
       <button (click)="limpiar()">Limpiar</button><br>
    </div>
   </div>
</div>
