<!doctype html>
<html lang="en">
  <head>
    <title>Title</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  </head>
  <body>

    <div class="form-group">
      <label for="color">Selecione un color</label>
      <select class="form-control" name="" id="color" [(ngModel)]="textoColor" (change)="cambioColor()">
        <option value="" disabled>seleciciones el color</option>
        <option value="rojo">Rojo</option>
        <option value="verde">Verde</option>
        <option value="azul">Azul</option>
        <option value="amarrilo">Amarrilo</option>
      </select>
    </div>
    <div class="form-group">
      <label for="tamaño">Seleccione un tamaño de fuente</label>
      <select class="form-control" name="" id="tamaño" [(ngModel)]="textoTamanio" (change)="cambioTamanio()" >
        <option value="" disabled>tamaño de fuente</option>
        <option value="12">12px</option>
        <option value="16">16px</option>
        <option value="20">20px</option>
        <option  value="24">24px</option>
      </select>
    </div>
    <div class="form-group">
      <label for="fondo">Seleccione un color de fondo </label>
      <select class="form-control" name="" id="fondo" [(ngModel)]="fondoColor" (change)="cambioFondo()" >
        <option value="" disabled>color de fondo</option>
        <option value="rojo">Rojo</option>
        <option value="verde">Verde</option>
        <option value="azul">Azul</option>
        <option value="amarrilo">Amarrilo</option>

        <option></option>
      </select>
    </div>
    <div >
      <div class="contenedor" [ngClass]="[claseColor,claseFondo,claseTamanio]">DESARROLLO DE APLICACIONES WEB. </div>
      <div class="contenedor" [ngClass]="[claseColor,claseFondo,claseTamanio]">DESARROLLO DE APLICACIONES MULTIPLATAFORMA </div>
      <div class="contenedor" [ngClass]="[claseColor,claseFondo,claseTamanio]">ADMINISTRACIÓN DE SISTEMAS INFORMATICOS Y REDES </div>
    </div>


    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>
