<div class="container">
  <div class="d-flex justify-content-center">
        <div class="col-auto">
          <a routerLink="login" class="btn btn-info m-2">Login</a>
          <a routerLink="registro" class="btn btn-danger m-2">Registro</a>
          <a routerLink="chat" class="btn btn-success m-2">Chat</a>
          <a routerLink="chatp" class="btn btn-primary m-2">Chat P</a>
          <a routerLink="admin" class="btn btn-secondary m-2">Admin</a>

        </div>
  </div>
  <router-outlet></router-outlet>
</div>
