<mat-card>
  <h2>Formulario de Notas</h2>
  <form [formGroup]="formulario" (ngSubmit)="enviarFormulario()">
    <!-- Código CIF -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Código CIF</mat-label>
      <input matInput formControlName="codigoCif" placeholder="Ingresa el CIF">
      <mat-error *ngIf="formulario.get('codigoCif')?.hasError('required')">
        El CIF es obligatorio
      </mat-error>
      <mat-error *ngIf="formulario.get('codigoCif')?.hasError('pattern')">
        El CIF debe tener 9 caracteres alfanuméricos en mayúsculas
      </mat-error>
    </mat-form-field>

    <!-- Nombre -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nombre</mat-label>
      <input matInput formControlName="nombre" placeholder="Ingresa el nombre">
      <mat-error *ngIf="formulario.get('nombre')?.hasError('required')">
        El nombre es obligatorio
      </mat-error>
    </mat-form-field>

    <!-- Nota 1 -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nota 1</mat-label>
      <input matInput type="number" formControlName="nota1" placeholder="Ingresa la Nota 1">
      <mat-error *ngIf="formulario.get('nota1')?.hasError('required')">
        La Nota 1 es obligatoria
      </mat-error>
      <mat-error *ngIf="formulario.get('nota1')?.hasError('min')">
        La Nota 1 debe ser al menos 0
      </mat-error>
      <mat-error *ngIf="formulario.get('nota1')?.hasError('max')">
        La Nota 1 no puede ser mayor a 10
      </mat-error>
    </mat-form-field>

    <!-- Nota 2 -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nota 2</mat-label>
      <input matInput type="number" formControlName="nota2" placeholder="Ingresa la Nota 2">
      <mat-error *ngIf="formulario.get('nota2')?.hasError('required')">
        La Nota 2 es obligatoria
      </mat-error>
      <mat-error *ngIf="formulario.get('nota2')?.hasError('min')">
        La Nota 2 debe ser al menos 0
      </mat-error>
      <mat-error *ngIf="formulario.get('nota2')?.hasError('max')">
        La Nota 2 no puede ser mayor a 10
      </mat-error>
    </mat-form-field>

    <!-- Nota 3 -->
    <mat-form-field appearance="outline" class="full-width">
      <mat-label>Nota 3</mat-label>
      <input matInput type="number" formControlName="nota3" placeholder="Ingresa la Nota 3">
      <mat-error *ngIf="formulario.get('nota3')?.hasError('required')">
        La Nota 3 es obligatoria
      </mat-error>
      <mat-error *ngIf="formulario.get('nota3')?.hasError('min')">
        La Nota 3 debe ser al menos 0
      </mat-error>
      <mat-error *ngIf="formulario.get('nota3')?.hasError('max')">
        La Nota 3 no puede ser mayor a 10
      </mat-error>
    </mat-form-field>

    <!-- Botón Enviar -->
    <button mat-raised-button color="primary" type="submit" [disabled]="formulario.invalid">
      Enviar
    </button>
  </form>
</mat-card>
<br>
<br>
<!-- Tabla de resultados -->
<mat-card>
  <h2>Resultados</h2>
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
    <!-- Código CIF -->
    <ng-container matColumnDef="codigoCif">
      <th mat-header-cell *matHeaderCellDef> Código CIF </th>
      <td mat-cell *matCellDef="let element"> {{element.codigoCif}} </td>
    </ng-container>

    <!-- Nombre -->
    <ng-container matColumnDef="nombre">
      <th mat-header-cell *matHeaderCellDef> Nombre </th>
      <td mat-cell *matCellDef="let element"> {{element.nombre}} </td>
    </ng-container>

    <!-- Nota 1 -->
    <ng-container matColumnDef="nota1">
      <th mat-header-cell *matHeaderCellDef> Nota 1 </th>
      <td mat-cell *matCellDef="let element"> {{element.nota1}} </td>
    </ng-container>

    <!-- Nota 2 -->
    <ng-container matColumnDef="nota2">
      <th mat-header-cell *matHeaderCellDef> Nota 2 </th>
      <td mat-cell *matCellDef="let element"> {{element.nota2}} </td>
    </ng-container>

    <!-- Nota 3 -->
    <ng-container matColumnDef="nota3">
      <th mat-header-cell *matHeaderCellDef> Nota 3 </th>
      <td mat-cell *matCellDef="let element"> {{element.nota3}} </td>
    </ng-container>


    <!-- Header -->
    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</mat-card>