<div class="container">
   <div class="row d-flex justify-content-center">
    <div class="col-lg-4">
       <form [formGroup]="formulario1" (ngSubmit)="EnviarDatos()">
          <div class="form-group">
            <!-- nombre -->
           <label for="name">Teclea Nombre</label>
           <input type="text" formControlName="name" class="form-control" name="name" id="inputName">
                <!-- first name -->
                <label for="firstName">Teclea Apellido</label>
                <input type="text" formControlName="firstName" class="form-control" name="firstName" id="inputfirstName">
              <!-- correo -->
              <label for="mail">Teclea Mail</label>
              <input type="email" formControlName="mail" class="form-control" name="mail" id="inputMail">
              <!-- password -->
              <label for="password">Teclea Password</label>
              <input type="password" formControlName="password" class="form-control" name="password" id="inputPassword">

          </div>
<!-- La clave de la validación viene dada por la propiedad disabled del botón Validar, mientras la boolean formulario1
sea false no se activa el botón -->

          <button type="submit" class="btn btn-info" [disabled]="!formulario1.valid">Enviar</button>
        </form>
    </div>
   </div>
</div>
