* {
    box-sizing: border-box;
}
.caja {
    margin: 0 auto;
    border: 1px solid black;
    width: 20%;
   
    justify-content: center;      /* Centra horizontalmente el contenido */
  
    height: 200px;                /* Define una altura para que el centrado vertical funcione */
    text-align: center;           /* Centra el texto dentro de la caja */
}


.container {
    border:1px solid black;
    border-radius: 1rem;
    margin: 50px auto;
    padding: 1rem;
    width: 70%;
}

.gallery {
    display:flex;
    flex-wrap: wrap;
    justify-content: center;
    padding:1rem;
}

.gallery img {
    margin: 1rem 1rem;
    width: 15%;
    border-radius: 50%;
}
.ponerBorde{
   border:5px solid red;
}
.quitarBorde{
    border:none;
}