<div class="container mt-5">
  <div class="row justify-content-center">
    <div class="col-md-6 col-lg-4 bg-light p-4 rounded shadow-sm">
      <h3 class="text-center mb-4">{{ title }}</h3>

      <div class="form-group mb-3">
        <label for="dolares" class="form-label h5">Dólares</label>
        <input id="dolares" [(ngModel)]="dolares" type="number" class="form-control" (keyup)="actualizarDolares()"
          (change)="actualizarDolares()">
      </div>

      <div class="form-group mb-3">
        <label for="libras" class="form-label h5">Libras</label>
        <input id="libras" [(ngModel)]="libras" type="number" class="form-control" (keyup)="actualizarLibras()"
          (change)="actualizarLibras()">
      </div>

      <div class="form-group mb-3">
        <label for="yenes" class="form-label h5">Yenes</label>
        <input id="yenes" [(ngModel)]="yenes" type="number" class="form-control" (keyup)="actualizarYenes()"
          (change)="actualizarYenes()">
      </div>

      <div class="form-group mb-3">
        <label for="euros" class="form-label h5">Euros</label>
        <input id="euros" [(ngModel)]="euros" type="number" class="form-control" (keyup)="actualizarEuros()"
          (change)="actualizarEuros()">
      </div>

      <div class="d-grid gap-2">
        <button class="btn btn-primary" (click)="limpiar()">Limpiar</button>
      </div>
    </div>
  </div>
</div>