<div class="container">
  <div class="d-flex justify-content-center">
    <div class="col-auto">
      <div class="form-group">
        <label for="nombre">Nombre</label>
        <input type="text" [(ngModel)]="usuario.nombre"name="nombre" id="nombre" class="form-control" placeholder="Teclea nombre" aria-describedby="helpId">
        <small d="helpId" class="text-muted">Falta nombre</small>
      </div>
      <div class="form-group">
        <label for="email">EMAIL</label>
        <input type="text" [(ngModel)]="usuario.email"
         name="email" id="email" class="form-control" placeholder="Teclea mail" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Falta email</small>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" [(ngModel)]="usuario.pwd" name="password" id="password" class="form-control" placeholder="Teclea password" aria-describedby="helpId">
        <small id="helpId" class="text-muted">Falta password</small>
      </div>
      <button class="btn btn-info" (click)="Registrar()">Registra</button>
    </div>
  </div>
</div>
