<div class="container">
  <div class="row">
    <div class="col-md-12">
      <h1>Validacion de fecha</h1>
    </div>
    <div class="col-md-6">
      <form [formGroup]="FRegistro">
        <mat-form-field appearance="fill">
            <mat-label>Email</mat-label>
            <input matInput formControlName="email" placeholder="micorreo@gmail.com">
            <mat-error *ngIf="FRegistro.get('email')?.hasError('email')">
                         Teclea una cuenta de mail válida
            </mat-error>
        </mat-form-field>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>

        <mat-form-field>
          <mat-label>Introduzca la fecha</mat-label>
          <input matInput [matDatepicker]="picker">
          <mat-hint>MM/DD/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker" ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
          <mat-error *ngIf="FRegistro.get('date')?.hasError('max')">
                         La fecha debe ser mayor a hoy
          </mat-error>
        </mat-form-field>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>

        <mat-form-field>
          <mat-label>password</mat-label>
          <input matInput type="password" placeholder="Contraseña" formControlName="password">
          <mat-hint>Contraseña</mat-hint>
          <mat-error *ngIf="FRegistro.get('password')?.hasError('pattern')">
                         La contraseña debe tener al menos 8 caracteres y un número
          </mat-error>
        </mat-form-field>
        <mat-divider></mat-divider>
        <mat-divider></mat-divider>

        <mat-form-field>
          <mat-label>password</mat-label>
          <input matInput type="password" placeholder="Confirmar contraseña" formControlName="passwordConfirm">
          <mat-hint>Contraseña</mat-hint>
          <mat-error *ngIf="FRegistro.get('passwordConfirm')?.hasError('comprobarIgualPassword')">
                         Las contraseñas no coinciden
          </mat-error>
        </mat-form-field>

      </form>
    </div>
    <div>
  </div>
