.clase1{
  background-color: red;
  font-size: 25px;
}
.clase2{
  background-color: blue;
  font-size: 40px;
}
.clase3{
  background-color: green;
  font-size: 10px;
}
.clase4{
  background-color: yellow;
  font-size: 15px;
}
.clase5{
  background-color: orange;
  font-size: 70px;
}
.clase6{
  background-color: purple;
  font-size: 45px;
}
.clase7{
  background-color: rgb(0, 128, 68);
  font-size: 45px;
  color: white;
}
